@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    user-select: none;
}
div {
    -webkit-tap-highlight-color: transparent;
}
#app {
    height: 100%;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
input:focus-visible {
    outline: none;
}
#opt {
    // transition: all 0.3s ease-in-out;
}
html {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    // overscroll-behavior: none;
    --shortcutWidth: 50vw;
    --shortcutMargin: 1rem;
    --shortcutPad: 1rem;
    --colNum: ;
    --dialogWidth: 60vw;
    --el-dialog-padding-primary: 2rem;

    --bgLight_Primary: white;
    --bgLight_Secondary: #e9e9e9;
    --bgLight_Basic: #d8d8d8;

    --bgDark_Primary: #1f1f1f;
    --bgDark_Secondary: #272727;

    --txtLight_Primary: #eeeeee;
    --txtLight_Secondary: #bdbdbd;
    --txtLight_Basic: #5b5b5b;
    --txtDark_Primary: rgb(32 32 32 / 93%);
    --txtDark_Secondary: #303030;
    --txtDark_Basic: #5b5b5b;

    --radius-lg: 1rem;
 
    --cellHeight: 4vh;
    --radius-lg: 15px;
    --radius-base: 12px;
    --btnHeight: 35px;
    --radius-sm: 5px;
    --dark: gray;
    --el-border-radius-base: 10px !important;
    overflow-x: hidden;
    --bgColorPrimary: #f5f5f5;
    --bgColorSecPrimary: #f4f4f49e;
    --textColorPrimay: #2e2e2e;
    --textColorSecPrimary: #848484;
    --listBgColor: #dadada58;
    background-color: var(--bgLight_Primary);
    @media (orientation: portrait) {
    }

    @media (width <= 628px) {
        // font-size: 14px;
        --shortcutWidth: 90vw;
        --shortcutMargin: 1rem;
        --colNum: 1;
        --dialogWidth: 85vw;
    }

    @media (prefers-color-scheme: dark) {
        --bgLight_Primary: rgb(0, 0, 0);
        --bgLight_Secondary: #1e1e1e;
        --bgLight_Basic: #2c2c2c;

        --txtLight_Primary: #181818;
        --txtLight_Secondary: #3d3d3d;
        --txtLight_Basic: #606266;
        --txtDark_Primary: rgb(241 241 241 / 93%);
        --txtDark_Secondary: #d9d8d8;
        --txtDark_Basic: #9b9b9b;
    }
}
body {
    margin: 0;
    height: 100vh; 
}
svg {
    // width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}
#scrollTitle {
    font-weight: 600;
}
.bgLight_Primary {
    background: var(--bgLight_Primary);
}
.bgLight_Secondary {
    background: var(--bgLight_Secondary);
}
.bgLight_Basic {
    background: var(--bgLight_Basic);
}
.bgDark_Primary {
    background: rgba(24, 24, 24, 0.695);
}
.txtLight_Primary {
    color: var(--txtLight_Primary);
    fill: var(--txtDark_Primary);
}
.txtLight_Secondary {
    color: var(--txtLight_Secondary);
    fill: var(--txtLight_Secondary);
}
.txtLight_Basic {
    color: var(--txtLight_Basic);
    fill: var(--txtLight_Basic);
}
.txtDark_Primary {
    color: var(--txtDark_Primary);
    fill: var(--txtDark_Primary);
}
.txtDark_Secondary {
    color: var(--txtDark_Secondary);
    fill: var(--txtDark_Secondary);
}
.txtDark_Basic {
    color: var(--txtDark_Basic);
    fill: var(--txtDark_Basic);
}
.dialogWrapper {
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    // opacity: 0;
    // scale: 0;
    // background-color: rgba(211, 211, 211, 0.623);
    .dialog {
        width: var(--dialogWidth);
    }
}

.shortcutList {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    @media (width > 628px) {
        // display: none;
        // opacity: 0;
    }
}
.shortcutContainer {
    width: 100vw;
    // column-width: 45%;
    column-count: var(--colNum);
    display: none;
    // flex-direction: column;
    break-inside: avoid;
    // height: 100vh;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: masonry;
    grid-gap: 10px;
    transition: all 0.3s ease-in-out;
    // flex-direction: column;
    // overflow-y: hidden;
    opacity: 1;
    @media (width <= 628px) {
        opacity: 0;
        display: none;
    }
}
#add,
#delete {
    transition: width 0.3 ease-in-out;
    will-change: width, height, margin;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.shortcutWrapper {
    --dialogWidth: 50vw;
    width: 100%;
    z-index: 9;
    break-inside: avoid;
    padding: var(--shortcutPad);
    background-color: var(--bgLight_Primary);
    margin: auto;
    overflow: hidden;
    @media (width <= 628px) {
        max-width: 600px;
        // background-color: var(--bgLight_Primary);
    }
    .shortcut {
        h2 ~ #add {
            margin-right: 0.5rem;
        }
        // margin: var(--shortcutMargin);
        h2 ~ #delete {
            // margin-right: 0 !important;
        }
        h2 {
            color: var(--txtDark_Primary);
        }
        transition: all 0.3s ease-in-out;
        border-radius: var(--radius-lg);
        padding: var(--shortcutPad);
        background-color: var(--bgLight_Secondary);
    }
}

button {
    width: 100%;
    // height: var(--cellHeight);
}
::-webkit-scrollbar {
    // display: none;
}
.appHeader { 
    color: var(--txtDark_Primary);
    background-color: var(--bgLight_Primary);
    font-size: 1.5rem;
    position: fixed;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    justify-content: center;
    justify-items: center;
    align-items: start;
    background: linear-gradient(to bottom, var(--bgLight_Primary) 80%, transparent 100%);
    // transition: all 0.15s ease-in-out;
    // padding-bottom: 0.8rem;
    top: 0;
    z-index: 99;
    letter-spacing: 0.1rem;
    .title {
        line-height: 1.5rem;
        opacity: 0;
        font-weight: 800;
        color: var(--txtDark_Primary);
    }
}
.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    // overflow-y: auto;

    perspective-origin: left;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: flex-start;
    align-items: flex-start;
    background-color: var(--bgLight_Primary);
}
.ShortcutConfig {
    width: 100vw;
    // position: fixed;
    font-size: 1.6rem;
    padding-left: 1rem;
    // top: 0;
    // z-index: 99;
    display: flex;
    align-items: center;
    background: var(--bgLight_Primary);
    background: linear-gradient(to bottom, var(--bgLight_Primary) 35%, transparent 100%);
    color: var(--txtDark_Primary);
}

.list {
    // min-width: 25vw;
    // max-width: 25vw;
    padding: 1% 2%;
    margin: 2rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: var(--radius-lg);
    box-shadow: 0 0 15px 10px #858181d1;
    background-color: var(--bgColorSecPrimary);
    @media (width <= 628px) {
        width: 90vw;
    }
}

.wrapper {
    overflow: auto;
    width: 100%;
    transition: height 1.2s ease-in-out;
    border-radius: var(--radius-base);
    transition: height 0.5s ease-in-out;
    // border: 1px solid black;
    // box-shadow: 0 0 15px 2px #858181d1;
}

// .secWrapper {
//     margin-bottom: 0;
//     min-height: 8vh;
//     max-height: 16vh;
//     box-shadow: inset 0px 2px 15px 0px rgba(133, 129, 129, 0.8196078431);
//     padding: 1%;
// }

.left {
    width: 0;
}

.label {
    display: flex;
    min-width: 5vw;
    flex: 1;
    margin-right: 10px;
    user-select: none;
    overflow: hidden;
    align-items: center;
    color: var(--textColorPrimay);
    // height: var(--cellHeight);
}
.hideOverText {
    min-width: 8vw;
    user-select: none;
    // height: var(--cellHeight);
    line-height: var(--cellHeight);
    margin-right: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.primLabel {
    font-size: 18px;
    font-weight: 400;
    overflow: initial;
    color: #9d9d9d;
    cursor: pointer;
    color: var(--textColorSecPrimary);
    // translate: -2vh;
}

.widget {
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    min-height: var(--cellHeight);
}
.listItemWrapper {
    $baseFontSize: 0.9rem;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    // margin: 0 15px;
    background-color: var(--bgLight_Basic);

    .listItemWrapper {
        margin: 0;
        #listItem {
            // padding-bottom: 0;
        }
    }
    h2 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .listItemWrapper h2 {
        color: var(--txtDark_Basic);
        font-weight: 400;
        font-size: $baseFontSize;
    }

    #listItem h2 {
        font-size: $baseFontSize;
    }
    #listItem {
        svg {
            height: 60%;
        }
    }
    .subWrapper {
        // background-color: #edededea;
        border-left: 1px solid #c7c7c7;
    }
}
.divider {
    background-color: lightgray;
    height: 1px;
    width: 100%;
}
.listItem {
    min-width: 30vw;
    min-height: var(--cellHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    padding: 1vh 2vh;
    margin: 1vh 5px;
    border-radius: var(--radius-base);
    cursor: pointer;

    @media (max-width: 1024px) {
        min-width: 40vw;
    }
}
.keyValueItem {
    background: var(--listBgColor);
    flex-direction: row;
}
.secItem {
    background: none;
    flex-direction: column;
    padding-right: 0;
    align-items: flex-start;
}

.addWrapper {
    display: flex;
    width: 10vw;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
.addButton {
    /* position: absolute;
    top: 0;
    right: 0;
    z-index: 1; */
    $height: 15px;
    height: $height;
    line-height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 2px;
    color: white;
}
.btnWrapper {
    position: absolute;
    right: 0;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--btnHeight);
    overflow: hidden;
}
.btn {
    right: 10px;
    height: var(--btnHeight);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    // transition: width 0.5s linear;
    // opacity: 0;
    position: absolute;
    translate: calc(100% + 10px) 0;
}
.btnPrim {
    width: 45%;
    height: var(--btnHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addGrid {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.paramItem {
    width: 100%;
    // height: 40px;
    margin-top: 0.4rem;
    // margin-bottom: 4px;
    // justify-content: space-between;
    align-items: center;
    p {
        flex-shrink: 0;
        width: 40%;
        margin: 0.2rem 0;
    }
}
// #canAdd {
//     transition: height 0.5s linear 1.5s;
//     .paramItem {
//         // margin: 6px 0;
//     }
// }

.copy {
    flex-grow: 0;
    aspect-ratio: 1 / 1;
    border-left: 1px solid rgba(205, 205, 205, 0.859);
    // background-color: #757575;
    path {
        fill: rgba(64, 64, 64, 0.748);
    }
}
