* {
    box-sizing: border-box;
    user-select: none;
}
div {
    -webkit-tap-highlight-color: transparent;
}
html {
    overflow: hidden;
    --cellHeight: 4vh;
    --radius-lg: 15px;
    --radius-base: 12px;
    --btnHeight: 35px;
    --radius-sm: 5px;
    --dark: gray;
    --el-border-radius-base: 10px !important;
    overflow-x: hidden;
    --bgColorPrimary: #f5f5f5;
    --bgColorSecPrimary: #f4f4f49e;
    --textColorPrimay: #2e2e2e;
    --textColorSecPrimary: #848484;
    --listBgColor: #dadada58;
    @media (prefers-color-scheme: dark) {
        --bgColorPrimary: #181818;
        --bgColorSecPrimary: #222222;
        --textColorPrimay: #e7e7e7;
        --textColorSecPrimary: #afafaf;
        --listBgColor: #73737358;
    }
}
body {
    margin: 0;
}
h1 {
    // width: 100%;
}
h1,
h2,
h3 {
    // width: 80%;
    color: var(--textColorPrimay);
    min-width: 10vw;
    padding: 0 2%;
    text-shadow: rgba(133, 129, 129, 0.8196078431) 5px 0px 8px;
}
svg {
    // width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}
button {
    width: 100%;
    // height: var(--cellHeight);
}
::-webkit-scrollbar {
    display: none;
}

.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: flex-start;
    align-items: flex-start;
    background-color: var(--bgColorPrimary);
}
.ShortcutConfig {
    $size: 8vh;
    width: 100vw;
    height: $size;
    display: flex;
    align-items: center;
    .addWrapper {
        $btnSize: calc($size * 0.6);
        width: $btnSize;
        height: $btnSize;
        font-size: $btnSize;
        line-height: $btnSize;
        border-radius: 8px;
    }
}

.title {
    height: 8vh;
    display: flex;
    cursor: pointer;
    justify-content: space-between; 
    align-items: center;
    .titleH { 
        width: 100%; 
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .shortcutBtn {
        width: 0;
        overflow: hidden;
    }
    .exec {
        height: 4vh; 
        color: lightgray;
        display: flex;
        justify-content: center;
    }
}
.list {
    // min-width: 25vw;
    // max-width: 25vw;
    padding: 1% 2%;
    margin: 3vw 5%;
    min-width: 35vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: var(--radius-lg);
    box-shadow: 0 0 15px 10px #858181d1;
    background-color: var(--bgColorSecPrimary);
}

.wrapper {
    overflow: auto;
    width: 100%;
    transition: height 1.2s ease-in-out;
    border-radius: var(--radius-base);
    transition: height 0.5s ease-in-out;
    // border: 1px solid black;
    // box-shadow: 0 0 15px 2px #858181d1;
}

// .secWrapper {
//     margin-bottom: 0;
//     min-height: 8vh;
//     max-height: 16vh;
//     box-shadow: inset 0px 2px 15px 0px rgba(133, 129, 129, 0.8196078431);
//     padding: 1%;
// }

.left {
    width: 0;
}

.label {
    display: flex;
    min-width: 5vw;
    flex: 1;
    margin-right: 10px;
    user-select: none;
    overflow: hidden;
    align-items: center;
    color: var(--textColorPrimay);
    // height: var(--cellHeight);
}
.hideOverText {
    min-width: 8vw;
    user-select: none;
    // height: var(--cellHeight);
    line-height: var(--cellHeight);
    margin-right: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.primLabel {
    font-size: 18px;
    font-weight: 400;
    overflow: initial;
    color: #9d9d9d;
    cursor: pointer;
    color: var(--textColorSecPrimary);
    // translate: -2vh;
}

.widget {
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    min-height: var(--cellHeight);
}
.listItemWrapper {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    // margin: 0 15px;
}
.listItem {
    min-width: 30vw;
    min-height: var(--cellHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: auto;
    padding: 1vh 2vh;
    margin: 1vh 5px;
    border-radius: var(--radius-base);
    cursor: pointer;

    @media (max-width: 1024px) {
        min-width: 40vw;
    }
}
.keyValueItem {
    background: var(--listBgColor);
    flex-direction: row;
}
.secItem {
    background: none;
    flex-direction: column;
    padding-right: 0;
    position: relative;
    align-items: flex-start;
}

.addWrapper {
    display: flex;
    width: 10vw;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
.addButton {
    /* position: absolute;
    top: 0;
    right: 0;
    z-index: 1; */
    $height: 15px;
    height: $height;
    line-height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 2px;
    color: white;
}
.btnWrapper {
    position: absolute;
    right: 0;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--btnHeight);
    overflow: hidden;
}
.btn {
    right: 10px;
    height: var(--btnHeight);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    // transition: width 0.5s linear;
    // opacity: 0;
    position: absolute;
    translate: calc(100% + 10px) 0;
}
.btnPrim {
    width: 45%;
    height: var(--btnHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-popper__arrow {
    display: none;
}